.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
supabase_config.json
.packages
.pub-cache/
.pub/
build/
android/.gradle/
.gradle-user-home/
android/.kotlin/
android/local.properties
*.iml
.idea/
web-src/node_modules/
web-src/dist/
