.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
supabase_config.json
.env
.env.*
!.env.example
.packages
.pub-cache/
.pub/
build/
coverage/
android/.gradle/
.gradle-user-home/
android/.kotlin/
android/local.properties
key.properties
*.jks
*.keystore
*.db
*.db-journal
*.sqlite
*.sqlite3
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db
